@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #eee;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active{
    color: blue;
}

.btn{
    background: #111;
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    opacity: .8;
}

.container{
    max-width: 900px;
    margin: auto;
    padding-top: 30px
}

.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow:  4px 4px 14px rgba(0,0,0,0.25);
}

.info{
    margin-bottom: 20px;
    display: flex;
}

.info-text{
    margin-bottom: 20px;
}

.info-text p,li {
    font-weight: bold;
    color: #555;
    margin: 10px;
}

.info-text a{
    font-weight: bold;
    color: #555;
    margin-left: 5px;
    margin-right: 5px;
}

.caption{
    margin-left: 40px;
    margin-top: 10px;
}

.caption h1{
    margin-bottom: 10px;
}

.caption h4{
    margin-bottom: 10px;
}

.caption p{
    margin-bottom: 10px;
    margin-left: 0;
}


@media (max-width: 600px) {
    .info{
        display: block;
        text-align: center;
    }    
}

.card h2{
    margin-bottom: 10px;
}

.card{
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background: white; */
    padding: 15px 20px;
    margin-bottom: 20px;
}

.bg-yellow{
    background: rgba(255,255,00,0.5);
}
.bg-yellow2{
    background: rgba(100,255,80,0.5);
}


.bg-red{
    background: rgba(255,80,0,0.5);
}

.bg-green{
    background: rgba(30,255,120,0.5);
}

.list{
    padding: 0 20px;
}

.list li{
    color: #555;
    margin-bottom: 10px;
}

.skills-grid {
    list-style:  none;
    padding: 0;
    display: flex;
}

.skills-column{
    width: 100%;
}

.skills-column h4{
    margin-top: 5px;
    text-align: center;
    color: #555;
}

.link-list {
    /* list-style:  none; */
    padding: 0;
}

.link-list li{
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid #ccc; */
    /* padding-bottom: 5px; */
    color: #555;        
}

.link-list a{
    color: #555;        
}


.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.form h2{
    text-align: center;
}

.form-row{
    margin-bottom: 10px;
    display: flex;

}

.form-row  .form-group{
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child{
    margin-right: 0;
}

@media (max-width: 600px) {
    .form-row{
        margin-bottom: 10px;
        display: block;
    }

    .form-row .form-group{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group  label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding:  15px 0px 10px;
    outline: none;
    font-family: inherit;
}
