.border-1{
    /* border-width: 2px;
    border-style: solid;
    border-color: aquamarine; */

    border: 2px solid darkgreen;
    /* border-style: dashed; */
    border-radius: 5px;
}

/* bottom top right left */
.border-2{
    border-bottom: 2px solid aquamarine;
    border-top: 10px solid red;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.border-3{
    border-left: 6px solid red;
    background: lightsalmon;
    padding-left: 10px;
    color: #fff;

}